.toolbar {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5rem;
	text-align: right;
}

.toolbar .buttons {
	display: flex;
	align-items: center;
	justify-content: end;
}

.toolbar button {
	background: none;
	border: none;
	width: 2rem;
	height: 2rem;
}
