.viewer {
	width: 21cm;
	min-height: 29.68cm;
	padding: 2em;
	margin: auto;
	page-break-after: auto;
	column-count: var(--columns);
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--text-color);
	text-align: justify;
}

a {
	color: var(--link-color);
}

section {
	position: relative;
	break-inside: avoid;
	box-shadow: var(--section-shadow);
	border-radius: var(--section-radius);
	margin-bottom: 2em;
	padding: 1em;
}

header {
	color: var(--primary-color);
}

article {
	border-top: 1px dotted var(--primary-color);
	padding-bottom: 1em;
}

.info {
	column-span: all;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.info ul {
	padding-left: 0;
}

.info ul li {
	display: inline-block;
}

.info .photo {
	width: var(--photo-size);
	height: var(--photo-size);
	border-radius: var(--photo-radius);
	margin: 2em;
}
